*{
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    color: rgb(6, 6, 6);
}
#header{
     width: 100%;
     height: 100vh;
     background-image: url(images/back.JPG);
     image-resolution: 1920 x 1280;
    background-attachment: fixed;
    background-size: cover;
   /* background-position:top; */
    background-repeat: no-repeat;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 55%;
}

 nav ul li{
    display: inline-block;
    list-style: none;
    margin: 25px 10px;
 }
 nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    position: relative;
 }

 nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
 }
 nav ul li a:hover::after{
    width: 100%;
 }

 .header-text{
       margin-top: 10%;
       font-size: 30px;
}

.header-text h1{
    color: #ffffff;
    font-size: 75px;
    margin-top: 20px 0px 20px;
}
.header-text h3{
    color: rgb(255, 102, 0);
    font-size: 25px;
    margin-bottom: 50px;
}
.header-text h4{
    color: #51ff00;
    letter-spacing: 2px;
    font-size: 20px;
}


/*-----------------------------about--------------------------------*/
#about{
    padding: 80px 0;
    background-color:#ebdfb8;
 }
 .row{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }
 .about-col-1{
     flex-basis: 35%;
 }
 .about-col-1 img{
     width: 100%;
     border-radius: 15px;
 }
 .about-col-2{
    margin-top:20px;
     flex-basis: 60%;
 }
 
 .about-col-2 h1{
    color:rgb(7, 194, 16);
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 40px;

 }
 .about-col-2 h4{
    color:  #000000;
    letter-spacing: 1px;
    font-size: 25px;
    margin-bottom: 40px;
    text-transform: capitalize;
 }
 .about-col-2-table{
    color: #f71808;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 40px;
 }



 /*---------------------------education-------------------------------*/
 #education{
    background-color:#DDDDDD;
 }
 .header h1{
    color: #ff004f;
    font-size: 60px;
    margin-top: 20px 0px 20px;
    margin-left: 5%;
}
.header-table{
    display: center;
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 10px 10%;
    font-size: 20px;
    color: #000000;

}

/*----------------------skills-----------------------*/
.skills{
   position: relative;
   background: #F5F5F5;
}
.skills h1{
   color: #000000;
   font-size: 50px;
   margin-top: 20px 0px 20px;
   margin-left: 40%;
}
.row{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.skills-table-left{
   flex-basis: 40%;
}
.skills-table-right{
   flex-basis: 40%;
}

.skills-table-left{
   margin: 50px 50px;
   font-size: 30px;
   color: rgb(0, 0, 0);
}
.skills-table-right{
   margin: 50px 50px;
   font-size: 30px;
   color: rgb(0, 0, 0);
}

 /*-----------------contact------------------------*/
#contact{
    background-color: #ECECEC;
    height: auto;
}
 .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-left{
    flex-basis: 30%;
}
 .contact-right{
    flex-basis: 70%;
 }
 .contact-left p{
    margin-top: 10px;
    font-size: 20px;
    color:#1500ff;

 }
 .contact-left p i{
    color: #000000;
    margin-right: 25px;
    font-size: 25px;
 }

 .contact-left h1{
    color:rgb(0, 0, 0);
    font-size: 45px;
    text-transform: capitalize;
    margin-top: 60px;
 }

 .contact-right{
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px;
    margin-top: 150px;
    font-size: 25px;
    color: #ff5e5e;
}

/*------------------------footer-----------------------------------------*/
footer{
   position: relative;
   width: 100%;
   height: 200px;
   background: #ECECEC;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.social-icons{
   margin-top: 30px;
}
.social-icons a{
   text-decoration: none;
   font-size: 30px;
   margin-right: 10px;
   color: #000000;
   display: inline-block;
   transition: transform 0.5s;
}
.social-icons a:hover{
   color: #ff004f;
   transform: translate(-5px);
}
.end{
   margin-top: 40px;
   position: absolute;
   color: #ef0101;
   bottom: 35px;
   font-size: 20px;

}


 